<nav class="navbar" >
  <div class="container" *ngIf="podcast$ | async as podcast">
    <a target="_blank" href="{{podcast.home_page_url}}" class="navbar-brand mode">{{podcast.title}}</a>
    <span [innerHTML]="podcast.description"></span>
  </div>
</nav>

<div class="real-deal">
  <div class="container" *ngIf="podcast$| async as podcast">
    <div class="country-countainer mt-5">
      <div *ngFor="let item of podcast.items">

        <div class="card shadow" data-aos="fade-up" data-aos-duration="500" data-aos-easing="ease-in-sine">
          <div class="list-content">
            <p class="country-name">{{item.title}}</p>
            <div class="sub-content">
              <p><span class="bold-header">Date Published:</span> <span class="bold-header-value">
                  {{item.date_published | date}} </span></p>
              <p><a class="bold-header" target="_blank" href="{{item.url}}">Podcast url</a></p>
              <button>Add to faves</button>

              <p><span class="bold-header-value trim" [innerHTML]="item.summary"> </span></p>
            </div>
          </div>                                                                                                                                                                                

        </div>

      </div>

    </div>
  </div>
</div>
